.button {
  padding: 0 1.2rem;
  font-size: 1rem;
  height: 2.4rem;
  line-height: 2.13rem;
  outline: none;
  color: $color_primary;
  border: 2px solid $gray;
  background-color: $bg_primary_light;
  border-radius: 0.6rem;
  transition: border 0.2s, background-color 0.2s, color 0.2s;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;

  &:hover {
    background-color: lighten($bg_primary_dark, 10%);
    border-color: lighten($bg_primary_dark, 10%);
    color: #fff;
  }
}

.button--primary {
  background-color: $bg_primary_dark;
  border-color: $bg_primary_dark;
  color: #fff;
}