$bg_primary_dark: #263238;
$bg_primary_light: #fafafc;

$error: #d61333;
$success: #00a102;

$color_primary: #2c2e32;

$gray: #e0e2e6;
$white: #fff;

$bright_color1: #f26c63;
$bright_color2: #3498db;
$bright_color3: #9d81d3;
$bright_color4: #00b478;
$bright_color5: #f03871;
$bright_color6: #16a085;
