.select {
  padding: 0.33rem 0.93rem;
  font-size: 0.93rem;
  outline: none;
  color: $color_primary;
  border: 2px solid $gray;
  border-radius: 0.6rem;
  transition: border 0.3s;
  background-color: $white;
  cursor: pointer;
  display: inline-block;
  width: 100%;
}