.text-input {
  padding: 0 1.2rem;
  font-size: 0.93rem;
  outline: none;
  height: 2.4rem;
  color: $color_primary;
  border: 2px solid $gray;
  background-color: $white;
  border-radius: 0.6rem;
  position: relative;
  transition: border .3s linear;
  box-sizing: border-box;
  width: 100%;
}