.property-editor-field {
  margin: 18px 0;
}

.property-editor-field .property-editor-field_field-element {
  margin: 6px 0;
}

.property-editor-field_field-description {
  font-size: 14px;
  color: #909399;
}

.property-editor-field_field-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}